/* First, pull in Bootstrap */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,700');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
<style>

/*
@font-face {
    font-family: IBMPlexSans;
    src: url(/ctsorensen.github.io/fonts/IBMPlexSans-Regular.otf);
    font-weight: normal;
}


@font-face {
    font-family: 'IBMPlexSansBold';
    src: url(/ctsorensen.github.io/fonts/IBMPlexSans-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'IBMPlexSansLight';
    src: url(/ctsorensen.github.io/fonts/IBMPlexSans-Light.otf);
    font-weight: thin;
}
*/






body {
    font-family: 'IBM Plex Sans';
}

.orangeNavbar {
    font-family: 'IBM Plex Sans';
    background-color:coral; /*was cornflowerblue or lightcoral*/
    border:none;
}

#projectNavbar {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: white;
    border: none;
}

#aboutNavbar{
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: cornflowerblue;
    border: none;
}

#mePreview{
    background-color:coral;
    font-family: 'IBM Plex Sans'
/*or cornflowerblue, or lightcoral*/
}

#mePreview h1{
    color: white;
    font-size: 6.0vw;
    font-weight:bold;
    text-decoration: underline;
    text-decoration-color: #1C57AD;
    -webkit-text-decoration-color: #1C57AD;
    -moz-text-decoration: underline #1C57AD;

}
#mePreview h2{
    color: white;
    font-size: 2.5vw;
}

#exquisitePreview {
    font-family: 'IBM Plex Sans';
}

#exquisitePreview h4{
    color:black;
    opacity: 0.5;
    font-size: 2.0vw
}
#exquisitePreviewLink{
    color: black;
    text-decoration-color: red;
}
#exquisitePreview h1{
    font-size:4.0vw;
    color:black;
    text-decoration-color: red;
    -moz-text-decoration-color: red;
}
#exquisitePreview h2{
    font-size: 2.0vw;
    color: black;
    -webkit-text-decoration-color: red;
    text-decoration-color: red;
    -moz-text-decoration:  red;
}
#exquisitePreview h3{
    font-size:1.5vw;
    color: black;
    -webkit-text-decoration-color: red;
    -moz-text-decoration-color: red;
    
}

#exquisite {
    font-family: 'IBM Plex Sans'
}


#philanthrobotPreview{
    font-family: 'IBM Plex Sans';
    background-color:#1DA1F2
}
#philanthrobotPreview h1{
    font-size:4.0vw;
    color: white;    
}
#philanthrobotPreview h2{
    font-size: 2.0vw;
    color: white;
}

#philanthrobotPreview h3{
    font-size: 1.5vw;
    color: white;
    text-decoration-color: red;
}

#philanthrobot {
    font-family: 'IBM Plex Sans';
}

#philanthrobot h1, 
#philanthrobot h2 {
    color: #1DA1F2;
}
#philanthrobot h6{
    color: grey
}

#philanthrobot h3,
#philanthrobot h4,
#philanthrobot h5,
#philanthrobot p{
    color: black;
}

p {
    font-size: 2.0vh;
}

h6 {
    font-size: 2.0vh;
}

h5 {
    font-size: 2.5vh;
}

h4 {
    font-size: 3.0vh;
}
.fixImage {
    position:absolute;
    bottom: 0px;
    left: 0%;
}

#aboutMe h1,
#aboutMe h2,
#aboutMe h3,
#aboutMe h4,
#aboutMe h5,
#aboutMe h6,
#aboutMe p{
    color: white;
}

/*h4 for emoji bullet list*/

#aboutMe h4{
    line-height: 40px;
}


.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23D3D3D3' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23D3D3D3' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

/* cadetblue for clicked links?*/

/* turn off parallax scrolling for tablets and phones, adjust pixels as needed 
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

body, html {
    height:100%;
}
*/
</style>